<div id="wrapper_template">
  <div class="card fade-in">
    <div class="line-top" style="color:#22223b;">
      <p class="line-bottom padding-1rem align-center margine-none">
        {{'rules3'|translate}}
      </p>
      <p class="line-bottom padding-1rem margine-none">
        1) {{'rules4'|translate}}
      </p>
      <p class="line-bottom padding-1rem margine-none">
        2) {{'rules5'|translate}}
      </p>
      <div class="row line-bottom padding-1rem margine-none">
        <p>3) {{'rules10'|translate}}</p>
        <ul>
          <li>{{'rules6'|translate}}</li>
          <li>{{'rules9'|translate}}</li>
          <li>{{'rules7'|translate}}</li>
          <li>{{'rules11'|translate}}</li>
          <li>{{'rules12'|translate}}</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 line-bottom padding-1rem align-center">
      <button class="btn btn-success" (click)="backService.goBack()">{{'back'|translate}}</button>
    </div>
  </div>
</div>
