.line-bottom {
  border-bottom: #4a4e6973 thin solid;
}

.line-top {
  border-top: #4a4e6973 thin solid;
}

.padding-1rem {
  padding: 1rem;
}

.align-center {
  text-align: center;
}

.width-unset {
  width: unset;
}

.margine-none{
    margin: 0;
}

.list-style{
    list-style-type: lower-alpha;
}