<div id="wrapper_template">
  <div class="fade-in">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Definition">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Fallacies</b></h4>
            <div class="padding-1rem">
              <p>
                A fallacy is the use of invalid or otherwise faulty reasoning, or "wrong moves" in the construction of
                an
                argument.
              </p>
              <p>
                A fallacious argument may be deceptive by appearing to be better than it really is.
              </p>
              <p class="margin-none">
                Some fallacies are committed intentionally to manipulate or persuade by deception, while others are
                committed unintentionally due to carelessness or ignorance.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Equivocation">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Equivocation</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">In logic, equivocation is an informal fallacy resulting from the use of a
                particular word/expression in multiple senses within an argument. It is a type of ambiguity that stems
                from a phrase having two or more distinct meanings, not from the grammar or structure of the sentence.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      
      <mat-tab label="Gaslighting">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Gaslighting</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                Gaslighting is a form of psychological manipulation in which a person or a group covertly sows seeds of doubt in a targeted individual or group, making them question their own memory, perception, or judgment.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Kafkatrap">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Kafkatrap</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                Kafkatrap (plural Kafkatraps) A sophistical rhetorical device in which any denial by an accused person serves as evidence of guilt.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      
      <mat-tab label="Strawman">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Strawman</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                A straw man is a form of argument and an informal fallacy of having the impression of refuting an
                argument, whereas the proper idea of argument under discussion was not addressed or properly refuted.
                One who engages in this fallacy is said to be "attacking a straw man".
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="False Dichotomy">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>False Dichotomy</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                A false dilemma (sometimes also referred to as a false dichotomy) is a logical fallacy, which occurs
                when a limited number of options are incorrectly presented as being mutually exclusive to one another or
                as being the only options that exist, in a situation where that isn't the case.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Tone policing">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Tone policing</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                Tone policing (also tone trolling, tone argument, and tone fallacy) is an ad hominem (personal attack)
                and anti-debate tactic based on criticizing a person for expressing emotion. Tone policing detracts from
                the validity of a statement by attacking the tone in which it was presented rather than the message
                itself.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      
    </mat-tab-group>
  </div>
</div>
