<div id="wrapper_template">
  <div class="fade-in">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Definition">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Cognitive Biases</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                A cognitive bias is a systematic pattern of deviation from norm or rationality in judgment. Individuals
                create their own "subjective reality" from their perception of the input. An individual's construction
                of reality, not the objective input, may dictate their behavior in the world.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Confirmation Bias">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Confirmation Bias</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                The tendency to seek out evidence consistent with one's views, and to ignore, dismiss, or selectively
                reinterpret evidence that contradicts them
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Naive Realism">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Naive Realism</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                The tendency to believe the world is exactly as we see it.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Bias Blind Spots">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Bias Blind Spots</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                The belief that only Others are biased and not oneself.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="False Concensus Effect">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>False Concensus Effect</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                The tendency to overestimate the extent to which Others share our Views.
              </p>
            </div>
          </div>
          
        </ng-template>
      </mat-tab>
      <mat-tab label="Insider Perspective">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Insider Perspective</b></h4>
            <div class="padding-1rem">
              <p class="margin-none">
                Prevents individuals from understanding or even considering how Outsiders might assess a certain
                situation.
              </p>
            </div>
          </div>
          
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
