<div class="container col-sm-offset-3 col-sm-6 padding-1rem fade-in align-center">
  <button class="btn btn-success mr-2"  routerLink="/syllabus" routerLinkActive="active">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>  
  <button class="btn btn-success mr-2" routerLink="/fallacies" routerLinkActive="active">
      fallacies
    </button>
  
    <button class="btn btn-success mr-2" routerLink="/biases" routerLinkActive="active">
      biases
    </button>

    <button class="btn btn-success" routerLink="/razors" routerLinkActive="active">
        razors
      </button>
  </div>