<div id="wrapper_template">

  <div class="card fade-in padding-1rem">
    <a routerLink="/list" class="darkfont">
      <div class="line-top line-bottom padding-1rem">
        <h4 class="align-center"><u>Museum</u></h4>
      </div>
      <p class="padding-1rem line-bottom margin-none cursor-pointer">
        {{'HUB_list-text'|translate}}
      </p>
    </a>
  </div>

  <div class="card fade-in padding-1rem">
    <a routerLink="/library" class="darkfont">
      <div class="line-top line-bottom padding-1rem">
        <h4 class="align-center"><u>{{'VAR_library'|translate}}</u></h4>
      </div>
      <p class="padding-1rem line-bottom margin-none cursor-pointer">
        {{'HUB_library-text'|translate}}
      </p>
    </a>
  </div>

  <div class="card fade-in padding-1rem">
    <a routerLink="/syllabus" class="darkfont">
      <div class="line-top line-bottom padding-1rem">
        <h4 class="align-center"><u>{{'VAR_syllabus'|translate}}</u></h4>
      </div>
      <p class="padding-1rem line-bottom margin-none cursor-pointer">
        {{'HUB_syllabus-text'|translate}}
      </p>
    </a>
  </div>

 

  <div class="card fade-in padding-1rem">
    <a routerLink="/mediathek" class="darkfont">
      <div class="line-top line-bottom padding-1rem">
        <h4 class="align-center"><u>Mediathek</u></h4>
      </div>
      <p class="padding-1rem line-bottom margin-none cursor-pointer">
        {{'HUB_mediathek-text'|translate}}
      </p>
    </a>
  </div>




  <div class="col-xs-12 align-center">
    <div style="cursor:default;" class="card fade-in infocard align-center">
      <button class="btn btn-success" routerLink="/">{{'back'|translate}}</button>
    </div>
  </div>
</div>
