<div id="wrapper_template">
  <div class="fade-in">

    <mat-tab-group mat-align-tabs="end" dynamicHeight>
      <mat-tab label="Definition">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Philosophical Razors</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                In philosophy, a razor is a principle or rule of thumb that allows one to eliminate ("shave off")
                unlikely
                explanations for a phenomenon, or avoid unnecessary actions.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Principle of Charity">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Principle of Charity</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                In philosophy and rhetoric, the principle of charity or charitable interpretation requires interpreting
                a speaker's statements in the most rational way possible and, in the case of any argument, considering
                its best, strongest possible interpretation.<br>
                Never attribute to malice that which can be adequately explained by stupidity.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Occam's Razor">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Occam's Razor</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                Simpler explanations are more likely to be correct; avoid unnecessary or improbable assumptions.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      
      <mat-tab label="Hitchens' Razor">
        <ng-template matTabContent>
          <div class="card">
            <h4 class="cursor-default align-center"><b>Hitchens' Razor</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                What can be asserted without evidence can be dismissed without evidence.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Hume's Guillotine">
        <ng-template matTabContent>
          <div class="card fade-in">
            <h4 class="cursor-default align-center"><b>Hume's Guillotine</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                What ought to be cannot be deduced from what is. "If the cause, assigned for any effect, be not
                sufficient
                to produce it, we must either reject that cause, or add to it such qualities as will give it a just
                proportion to the effect."
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Newton's Flaming Laser Sword">
        <ng-template matTabContent>
          <div class="card fade-in">
            <h4 class="cursor-default align-center"><b>Newton's Flaming Laser Sword</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                If something cannot be settled by experiment or observation, then it is not worthy of debate.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Sagan Standard">
        <ng-template matTabContent>
          <div class="card fade-in">
            <h4 class="cursor-default align-center"><b>Sagan Standard</b></h4>
            <div class="padding-1rem">
              <p style="margin: 0;">
                Extraordinary claims require extraordinary evidence.
              </p>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
